#!/bin/sh

# PKG_NAME for example: ansible-collection-ansible-posix
export PKG_NAME={{ 'ansible-collection-' + (artg_change.project.split('/')[1].split('.') | join ('-')) }}
# SUP_PKG_NAME for example: ansible.posix
export SUP_PKG_NAME={{ artg_change.project.split('/')[1] }}
export TMPINSTALLDIR=/tmp/${PKG_NAME}-fpm-install
export VERSION=9.9.9

rm -rf "${TMPINSTALLDIR}"
mkdir -p ~/rpmbuild/SOURCES/
mkdir -p "${TMPINSTALLDIR}/${SUP_PKG_NAME}-${VERSION}"
cp -r . ${TMPINSTALLDIR}/${SUP_PKG_NAME}-${VERSION}
tar -zcvf ~/rpmbuild/SOURCES/${PKG_NAME}-${VERSION}.tar.gz -C ${TMPINSTALLDIR} ${SUP_PKG_NAME}-${VERSION}
rpmbuild -bb ${PKG_NAME}-build.spec
