<html>
    <head></head>
    <body>
        <p>Hello,</p>
        <p>Here's the result of the latest tempest run for job {{ data.get('job') }}.</p>
        <p>The job ran on {{ data.get('date') }}.</p>
        <p>For more details, you can check the URL: {{ data.get('link') }} (It might take a few minutes to upload the logs).</p>
        {% if 'Not available yet' not in data.get('link') %}
            <p>You can see the stackviz results <a href="{{ data.get('link') }}logs/oooq/stackviz/">here</a>
        {% endif %}
    {% if 'new' in data and data.new %}
    <h2>New failures</h2>
    <ul>
    {% for fail in data.new %}
        <li>{{ fail }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if 'covered' in data and data.covered %}
    <h2>Known failures</h2>
    <ul>
    {% for fail in data.covered %}
    <li>{{ fail.failure }} - {{ fail.reason }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if ('has_errors' in data and 'run' in data) and not data.has_errors and data.run %}
    <h2>Job ran successfully!</h2>
    <p>We consider a successfull run even if it has Known failures, since these are covered.</p>
    {% endif %}
    {% if not data.run %}
    <h2>There's no tempest results!</h2>
    <p>This means that the TripleO installation might have finished sucessfully, however, tempest either fail before tests started, or didn't ran at all.</p>
    {% endif %}
    <p></p>
    <p>You are receiving this email because someone from TripleO team though you were interested in these results.</p>
    <p></p>
    <p>If you're interested in receive these emails, please submit a code review <a href="https://github.com/openstack/tripleo-quickstart-extras/blob/master/roles/validate-tempest/files/tempestmail/config.yaml">here</a>
    including your email address</p>
    </body>
</html>

