# rhbz1304933
-tempest.api.telemetry.test_telemetry_notification_api
# old bug rhbz1272289
-tempest.scenario.test_volume_boot_pattern
-tempest.api.volume.test_volumes_get
# rhbz1266947
-tempest.api.identity.*v3
# rhbz1357667
-tempest.api.data_processing
# lpbug 1605654
-tempest.scenario.test_network_basic_ops.TestNetworkBasicOps
# rhbz1378989
-tempest.api.network.test_ports.PortsIpV6TestJSON
-tempest.api.network.test_ports.PortsTestJSON
# rhbz1379829
-tempest.api.compute.servers.test_server_actions.ServerActionsTestJSON
#rhbz1380146
-tempest.api.orchestration.stacks.test_resource_types.ResourceTypesTest
#rhbz1380145
-tempest.api.identity.admin.v2.test_services.ServicesTestJSON
#rhbz1380187
-tempest.api.network.test_routers.RoutersIpV6Test.test_add_multiple_router_interfaces
# TripleO does not deploy Barbican by default, which is needed for this test to pass
-tempest.scenario.test_encrypted_cinder_volumes.TestEncryptedCinderVolumes.test_encrypted_cinder_volumes_cryptsetup
-tempest.scenario.test_encrypted_cinder_volumes.TestEncryptedCinderVolumes.test_encrypted_cinder_volumes_luks
