# rhbz1304933
-tempest.api.telemetry.test_telemetry_notification_api
# rhbz1266947
-tempest.api.identity.*v3
# rhbz1357667
-tempest.api.data_processing
# lpbug 1605654
-tempest.scenario.test_network_basic_ops.TestNetworkBasicOps
# rhbz1378989
-tempest.api.network.test_ports.PortsIpV6TestJSON
-tempest.api.network.test_ports.PortsTestJSON
# rhbz1379829
-tempest.api.compute.servers.test_server_actions.ServerActionsTestJSON
#rhbz1380146
-tempest.api.orchestration.stacks.test_resource_types.ResourceTypesTest
#rhbz1380145
-tempest.api.identity.admin.v2.test_services.ServicesTestJSON
#rhbz1380187
-tempest.api.network.test_routers.RoutersIpV6Test.test_add_multiple_router_interfaces
# TripleO does not deploy Barbican by default, which is needed for this test to pass
-tempest.scenario.test_encrypted_cinder_volumes.TestEncryptedCinderVolumes.test_encrypted_cinder_volumes_cryptsetup
-tempest.scenario.test_encrypted_cinder_volumes.TestEncryptedCinderVolumes.test_encrypted_cinder_volumes_luks
#rhbz1411690
-tempest.scenario.test_security_groups_basic_ops.TestSecurityGroupsBasicOps.test_cross_tenant_traffic
-tempest.scenario.test_security_groups_basic_ops.TestSecurityGroupsBasicOps.test_multiple_security_groups
{% if not enable_cinder_backup|default(false)|bool %}
# Cinder backup is not enabled by default in tripleo only in particular
# scenarios
-tempest.api.volume.admin.test_volumes_backup.VolumesBackupsAdminV1Test
-tempest.api.volume.admin.test_volumes_backup.VolumesBackupsAdminV2Test
-tempest.api.volume.test_volumes_backup.VolumesBackupsV1Test
-tempest.api.volume.test_volumes_backup.VolumesBackupsV2Test
{% endif %}
# Glance isn't populating metadata definition database LP1664995
-tempest.api.image.v2.test_images_metadefs_namespaces.MetadataNamespacesTest.test_basic_metadata_definition_namespaces
-tempest.api.image.v2.test_images_metadefs_resource_types.MetadataResourceTypesTest.test_basic_meta_def_resource_type_association
-tempest.api.image.v2.test_images_metadefs_namespace_properties.MetadataNamespacePropertiesTest.test_basic_meta_def_namespace_property

