# old bug rhbz1272289
tempest.scenario.test_volume_boot_pattern
tempest.api.volume.test_volumes_get
# rhbz1266947
tempest.api.identity.*v3
#NEED BUGS or RETEST or RECONFIG
tempest.api.compute.servers.test_attach_interfaces.AttachInterfacesTestJSON.test_add_remove_fixed_ip
tempest.api.network.test_routers.RoutersIpV6Test.test_add_remove_router_interface_with_subnet_id
tempest.scenario.test_network_basic_ops.TestNetworkBasicOps.test_network_basic_ops
# TripleO does not deploy Barbican by default, which is needed for this test to pass
tempest.scenario.test_encrypted_cinder_volumes.TestEncryptedCinderVolumes.test_encrypted_cinder_volumes_cryptsetup
tempest.scenario.test_encrypted_cinder_volumes.TestEncryptedCinderVolumes.test_encrypted_cinder_volumes_luks
