# rhbz1304933
-tempest.api.telemetry.test_telemetry_notification_api
# old bug rhbz1272289
-tempest.scenario.test_volume_boot_pattern
-tempest.api.volume.test_volumes_get
# rhbz1266947
-tempest.api.identity.*v3
# rhbz1357667
-tempest.api.data_processing
# lpbug 1605654
-tempest.scenario.test_network_basic_ops.TestNetworkBasicOps
# rhbz1386421
-tempest.api.compute.servers.test_server_actions.ServerActionsTestJSON
# TripleO does not deploy Barbican by default, which is needed for this test to pass
-tempest.scenario.test_encrypted_cinder_volumes.TestEncryptedCinderVolumes.test_encrypted_cinder_volumes_cryptsetup
-tempest.scenario.test_encrypted_cinder_volumes.TestEncryptedCinderVolumes.test_encrypted_cinder_volumes_luks
