{% for skip_test in known_failures %}
{% if (tempest_undercloud and skip_test.undercloud is defined and skip_test.undercloud) or (not tempest_undercloud and skip_test.undercloud is not defined) %}
# {{ skip_test.reason }}
{% if skip_test.bz is defined %}
# {{ skip_test.bz }}
{% endif %}
{% if skip_test.lp is defined %}
# {{ skip_test.lp }}
{% endif %}
{{ skip_test.test }}
{% endif %}
{% endfor %}
