#!/bin/bash

set -eux

### --start_docs
## Validate the overcloud deployment with tempest
## ==============================================

{% include 'configure-tempest.sh.j2' %}

{% include 'run-tempest.sh.j2' %}

### --stop_docs
