[defaults]
action_plugins = /usr/lib/python2.7/site-packages/ara/plugins/actions
callback_plugins = /usr/lib/python2.7/site-packages/ara/plugins/callbacks

[ara]
database=sqlite:///{{ ara_overcloud_db_path }}