resource_registry:
  # since the same networks are used in this example, the
  # creation of the different networks is omitted
  OS::TripleO::Network::External: OS::Heat::None
  OS::TripleO::Network::InternalApi: OS::Heat::None
  OS::TripleO::Network::Storage: OS::Heat::None
  OS::TripleO::Network::StorageMgmt: OS::Heat::None
  OS::TripleO::Network::Tenant: OS::Heat::None
  OS::TripleO::Network::Management: OS::Heat::None

parameter_defaults:
  # new CELL Parameter to reflect that this is an additional CELL
  NovaAdditionalCell: True

  # The DNS names for the VIPs for the cell
  CloudName: {{cell_cloud_name|default('cell.localdomain')}}
  CloudNameInternal: {{cell_cloud_name_internal|default('cell.internalapi.localdomain')}}
  CloudNameStorage: {{cell_cloud_name_storage|default('cell.storage.localdomain')}}
  CloudNameStorageManagement: {{cell_cloud_name_storage_management|default('cell.storagemgmt.localdomain')}}
  CloudNameCtlplane: {{cell_cloud_name_ctlplane|default('cell.ctlplane.localdomain')}}

  # Flavors used for the cell controller
  OvercloudCellControllerFlavor: {{ cell_controller_flavor|default('baremetal') }}

  # number of controllers/computes in the cell
  CellControllerCount: {{ number_of_cell_controllers|default('1') }}
  ComputeCount: {{ number_of_cell_computes|default('0') }}
{% if cell_public_vip is defined %}
  PublicVirtualFixedIPs: [{'ip_address':'{{ cell_public_vip }}'}]
{% endif %}
