resource_registry:
  OS::TripleO::DeployedServer::ControlPlanePort: /usr/share/openstack-tripleo-heat-templates/deployed-server/deployed-neutron-port.yaml
  OS::TripleO::OVNMacAddressNetwork: OS::Heat::None
  OS::TripleO::OVNMacAddressPort: OS::Heat::None

parameter_defaults:
{% if release not in ['train', 'ussuri', 'victoria'] %}
  # Set VIP's for redis and OVN
  RedisVirtualFixedIPs:
    - ip_address: 192.168.24.101
      use_neutron: false
  OVNDBsVirtualFixedIPs:
    - ip_address: 192.168.24.102
      use_neutron: false
{% endif %}
# TODO: This is workaround for https://bugzilla.redhat.com/show_bug.cgi?id=2006409, Remove this
# once this bug is fixed.
{% if ansible_distribution_major_version is version(9, '>=') %}
  NovaLibvirtNumPciePorts: 12
{% endif %}

  DeployedServerPortMap:
{% for subnode in groups['overcloud'] %}
    {{ hostvars[subnode]['ansible_hostname'] }}-ctlplane:
      fixed_ips:
        - ip_address: 192.168.24.{{ 3 + loop.index0 }}
      subnets:
        - cidr: 192.168.24.0/24
      network:
        tags:
          - 192.168.24.0/24
{% endfor %}

  CtlplaneNetworkAttributes:
    network:
      dns_domain: localdomain
      mtu: 1500
      name: ctlplane
      tags:
      - 192.168.24.0/24
    subnets:
      ctlplane-subnet:
        cidr: 192.168.24.0/24
        dns_nameservers: {{ overcloud_dns_servers | default(['127.0.0.1', '1.1.1.1']) }}
        gateway_ip: 192.168.24.1
        host_routes: []
        ip_version: 4
        name: ctlplane-subnet
