resource_registry:
  OS::TripleO::DeployedServer::ControlPlanePort: /usr/share/openstack-tripleo-heat-templates/deployed-server/deployed-neutron-port.yaml

parameter_defaults:
  DeployedServerPortMap:
{% for subnode in groups['overcloud'] %}
    {{ hostvars[subnode]['ansible_hostname'] }}-ctlplane:
      fixed_ips:
        - ip_address: 192.168.24.{{ 3 + loop.index0 }}
      subnet:
        - cidr: 24
{% endfor %}
