#!/usr/bin/env bash

source ${HOME}/stackrc

export OVERCLOUD_ROLES=""
{% for role in deployed_server_overcloud_roles %}
OVERCLOUD_ROLES="$OVERCLOUD_ROLES {{ role.name }}"
export {{ role.name }}_hosts={{ role.hosts }}
{% endfor %}

/usr/share/openstack-tripleo-heat-templates/deployed-server/scripts/get-occ-config.sh 2>&1 | sudo dd of=/var/log/deployed-server-os-collect-config.log

/usr/share/openstack-tripleo-heat-templates/deployed-server/scripts/enable-ssh-admin.sh 2>&1 | sudo dd of=/var/log/deployed-server-enable-ssh-admin.log
