#!/bin/sh

set -eux

### --start_docs
## Post overcloud deployment steps
## ===============================

## * Prepare Your Environment.
## ::

## * Source in the undercloud credentials.
## ::

. {{ working_dir }}/stackrc

### --stop_docs
