{% for role in topology_map %}
{% set role_count = topology_map[role].scale |default(0) %}
{% set role_profile = topology_map[role].flavor |default('') %}
{% if role_count %}
- name: {{ role }}
  count: {{ role_count }}
{% if role_profile %}
  profile: {{ role_profile }}
{% endif %}
{% endif %}
{% endfor %}