sudo yum update -y \
    python-tripleoclient \
    openstack-tripleo-common \
    openstack-tripleo-heat-templates

sudo openstack tripleo upgrade \
  --templates \
  --local-ip={{ standalone_ip }}/{{ standalone_network_prefix }} \
  -e {{ overcloud_templates_path }}/environments/standalone.yaml \
  -r {{ overcloud_templates_path }}/roles/{{ standalone_role }} \
  -e "{{ working_dir }}/containers-prepare-parameters-upgrade.yaml" \
  -e "{{ working_dir }}/standalone_parameters_upgrade.yaml" \
{% if standalone_custom_env_files %}
  -e {{ standalone_custom_env_files | join(' -e ') }} \
{% endif %}
  --output-dir {{ working_dir }} \
  --standalone
