#!/bin/bash

set -eux

### --start_docs

## * Download specific Overcloud images
## ::

if [ -f {{ overcloud_image }}.qcow2 ]; then
    sudo rm -rf {{ overcloud_image }}.*
fi
curl -L -O "{{ overcloud_image_url }}"

{% if not whole_disk_images|bool %}
tar xvfp {{ overcloud_image }}.tar
{% endif %}

### --stop_docs
