#!/bin/bash

set -eux

### --start_docs
## Prepare images for deploying the overcloud
## ==========================================

## Prepare Your Environment
## ------------------------

## * Source in the undercloud credentials.
## ::

source {{ working_dir }}/stackrc

container_cli="{{ undercloud_container_cli | default('podman') }}"
cont=$(sudo $container_cli ps | grep executor | awk {'print $1'})
sudo $container_cli exec --user root $cont bash -c "easy_install pip==20.3.4 && pip install 'ara==1.0.0' || pip3 install 'ara==1.0.0'"
# check it
sudo $container_cli exec --user root $cont find /usr -type d -name ara

### --stop_docs
