#!/bin/bash

set -eux

### --start_docs
## Prepare images for deploying the overcloud
## ==========================================

## Prepare Your Environment
## ------------------------

## * Source in the undercloud credentials.
## ::

source {{ working_dir }}/stackrc

## * List out all the available OpenStack flavors.
## ::

for i in `openstack flavor list -c Name  -f value`; do
    echo $i; openstack flavor show $i;
done || true

### --stop_docs
