### --start_docs
## Delete the overcloud deployment
## ===============================

## * Gather informations on the deployment
## ::

source {{ working_dir}}/stackrc
OVERCLOUD_NAME="overcloud"
OVERCLOUD_ID=$(openstack stack list | grep "$OVERCLOUD_NAME" | awk '{print $2}')
echo $OVERCLOUD_ID > {{ working_dir }}/overcloud_id

## * select the correct command for the deletion
## ::

if heat stack-delete --help | grep -q "\-\-yes"; then
    heat stack-delete --yes "$OVERCLOUD_NAME"
else
    heat stack-delete "$OVERCLOUD_NAME"
fi

### --stop_docs
