### --start_docs
## Delete the overcloud deployment
## ===============================

## * Gather informations on the deployment
## ::

source {{ working_dir }}/stackrc
OVERCLOUD_NAME="overcloud"
OVERCLOUD_ID=$(openstack stack list -f value -c ID)
echo $OVERCLOUD_ID > {{ working_dir }}/overcloud_id

## * delete overcloud with confirmation
## ::

openstack stack delete --yes "$OVERCLOUD_NAME"

### --stop_docs
