#!/bin/bash

set -eux

### --start_docs
## Prepare the images to be used in the overcloud
## ==============================================

## Prepare the images
## ------------------

## * Retrieve images from the known urls
## ::

wget "{{ overcloud_image_url }}"
wget "{{ ipa_image_url }}"
for i in *.tar; do
tar xvfp $i
done

## * Change root password on the image
## ::

virt-customize -a overcloud-full.qcow2 --root-password password:redhat

### --stop_docs
