#!/bin/bash

set -eux

### --start_docs

## Add traffic for controller on baremetal undercloud
## ==================================================

## * Modify iptables
## ::

iptables -A BOOTSTACK_MASQ -s {{ network_isolation_ipv4_cidr }} ! -d {{ network_isolation_ipv4_cidr }} -j MASQUERADE -t nat
iptables-save > /etc/sysconfig/iptables

### --stop_docs
