parameter_defaults:
  DockerInsecureRegistryAddress:
  - {{ local_docker_registry_host }}:8787
{% if undercloud_docker_registry_mirror is defined and undercloud_docker_registry_mirror %}
  DockerRegistryMirror: {{ undercloud_docker_registry_mirror }}
{% endif %}
  ContainerImagePrepare:
  - push_destination: "{{ local_docker_registry_host }}:8787"
{% if update_containers|bool and not use_overcloud_mixed_upgrade|default(false)|bool %}
    modify_role: tripleo-modify-image
    modify_append_tag: "{{ update_containers_append_tag }}"
    modify_only_with_labels:
    - kolla_version
{% if release not in ['queens', 'rocky', 'stein']%}
    - tcib_managed
{% endif %}
    modify_vars:
      tasks_from: yum_update.yml
      yum_repos_dir_path: /etc/yum.repos.d
{% if release not in ['pike','queens','rocky','stein'] and podman_version is version('1.5.0', '>=') %}
      yum_cache: /var/tmp/tripleo-container-image-prepare-cache
{% endif %}
      update_repo: "{{ update_containers_repo }}"
{% if  release not in ['newton', 'ocata', 'pike', 'queens', 'rocky'] %}
      container_build_tool: buildah
{% endif %}
{% endif %}
    set:
      tag: "{{ container_build_id }}"
      namespace: "{{ docker_registry_host }}/{{ docker_registry_namespace_used }}"
      name_prefix: "{{ docker_prep_prefix }}"
      name_suffix: "{{ docker_prep_suffix }}"
      rhel_containers: "{{ rhel_containers }}"
      ceph_namespace: "{{ docker_ceph_namespace }}"
      ceph_image: "{{ docker_ceph_image }}"
      ceph_tag: "{{ docker_ceph_tag }}"
{% if docker_openshift_namespace is defined %}
      openshift_namespace: "{{ docker_openshift_namespace }}"
{% endif %}
{% if docker_openshift_tag is defined %}
      openshift_tag: "{{ docker_openshift_tag }}"
{% endif %}
{% if docker_openshift_prefix is defined %}
      openshift_prefix: "{{ docker_openshift_prefix }}"
{% endif %}
{% if docker_openshift_cockpit_namespace is defined %}
      openshift_cockpit_namespace: "{{ docker_openshift_cockpit_namespace }}"
{% endif %}
{% if docker_openshift_cockpit_image is defined %}
      openshift_cockpit_image: "{{ docker_openshift_cockpit_image }}"
{% endif %}
{% if docker_openshift_cockpit_tag is defined %}
      openshift_cockpit_tag: "{{ docker_openshift_cockpit_tag }}"
{% endif %}
{% if docker_openshift_etcd_namespace is defined %}
      openshift_etcd_namespace: "{{ docker_openshift_etcd_namespace }}"
{% endif %}
{% if docker_openshift_etcd_image is defined %}
      openshift_etcd_image: "{{ docker_openshift_etcd_image }}"
{% endif %}
{% if docker_openshift_etcd_tag is defined %}
      openshift_etcd_tag: "{{ docker_openshift_etcd_tag }}"
{% endif %}
{% if docker_openshift_gluster_namespace is defined %}
      openshift_gluster_namespace: "{{ docker_openshift_gluster_namespace }}"
{% endif %}
{% if docker_openshift_gluster_image is defined %}
      openshift_gluster_image: "{{ docker_openshift_gluster_image }}"
{% endif %}
{% if docker_openshift_gluster_block_image is defined %}
      openshift_gluster_block_image: "{{ docker_openshift_gluster_block_image }}"
{% endif %}
{% if docker_openshift_gluster_tag is defined %}
      openshift_gluster_tag: "{{ docker_openshift_gluster_tag }}"
{% endif %}
{% if docker_openshift_heketi_namespace is defined %}
      openshift_heketi_namespace: "{{ docker_openshift_heketi_namespace }}"
{% endif %}
{% if docker_openshift_heketi_image is defined %}
      openshift_heketi_image: "{{ docker_openshift_heketi_image }}"
{% endif %}
{% if docker_openshift_heketi_tag is defined %}
      openshift_heketi_tag: "{{ docker_openshift_heketi_tag }}"
{% endif %}
{% if docker_openshift_cluster_monitoring_namespace is defined %}
      openshift_cluster_monitoring_namespace: "{{ docker_openshift_cluster_monitoring_namespace }}"
{% endif %}
{% if docker_openshift_cluster_monitoring_image is defined %}
      openshift_cluster_monitoring_image: "{{ docker_openshift_cluster_monitoring_image }}"
{% endif %}
{% if docker_openshift_cluster_monitoring_tag is defined %}
      openshift_cluster_monitoring_tag: "{{ docker_openshift_cluster_monitoring_tag }}"
{% endif %}
{% if docker_openshift_configmap_reload_namespace is defined %}
      openshift_configmap_reload_namespace: "{{ docker_openshift_configmap_reload_namespace }}"
{% endif %}
{% if docker_openshift_configmap_reload_image is defined %}
      openshift_configmap_reload_image: "{{ docker_openshift_configmap_reload_image }}"
{% endif %}
{% if docker_openshift_configmap_reload_tag is defined %}
      openshift_configmap_reload_tag: "{{ docker_openshift_configmap_reload_tag }}"
{% endif %}
{% if docker_openshift_prometheus_operator_namespace is defined %}
      openshift_prometheus_operator_namespace: "{{ docker_openshift_prometheus_operator_namespace }}"
{% endif %}
{% if docker_openshift_prometheus_operator_image is defined %}
      openshift_prometheus_operator_image: "{{ docker_openshift_prometheus_operator_image }}"
{% endif %}
{% if docker_openshift_prometheus_operator_tag is defined %}
      openshift_prometheus_operator_tag: "{{ docker_openshift_prometheus_operator_tag }}"
{% endif %}
{% if docker_openshift_prometheus_config_reload_namespace is defined %}
      openshift_prometheus_config_reload_namespace: "{{ docker_openshift_prometheus_config_reload_namespace }}"
{% endif %}
{% if docker_openshift_prometheus_config_reload_image is defined %}
      openshift_prometheus_config_reload_image: "{{ docker_openshift_prometheus_config_reload_image }}"
{% endif %}
{% if docker_openshift_prometheus_config_reload_tag is defined %}
      openshift_prometheus_config_reload_tag: "{{ docker_openshift_prometheus_config_reload_tag }}"
{% endif %}
{% if docker_openshift_prometheus_tag is defined %}
      openshift_prometheus_tag: "{{ docker_openshift_prometheus_tag }}"
{% endif %}
{% if docker_openshift_prometheus_alertmanager_tag is defined %}
      openshift_prometheus_alertmanager_tag: "{{ docker_openshift_prometheus_alertmanager_tag }}"
{% endif %}
{% if docker_openshift_prometheus_node_exporter_tag is defined %}
      openshift_prometheus_node_exporter_tag: "{{ docker_openshift_prometheus_node_exporter_tag }}"
{% endif %}
{% if docker_openshift_oauth_proxy_tag is defined %}
      openshift_oauth_proxy_tag: "{{ docker_openshift_oauth_proxy_tag }}"
{% endif %}
{% if docker_openshift_kube_rbac_proxy_namespace is defined %}
      openshift_kube_rbac_proxy_namespace: "{{ docker_openshift_kube_rbac_proxy_namespace }}"
{% endif %}
{% if docker_openshift_kube_rbac_proxy_image is defined %}
      openshift_kube_rbac_proxy_image: "{{ docker_openshift_kube_rbac_proxy_image }}"
{% endif %}
{% if docker_openshift_kube_rbac_proxy_tag is defined %}
      openshift_kube_rbac_proxy_tag: "{{ docker_openshift_kube_rbac_proxy_tag }}"
{% endif %}
{% if docker_openshift_kube_state_metrics_namespace is defined %}
      openshift_kube_state_metrics_namespace: "{{ docker_openshift_kube_state_metrics_namespace }}"
{% endif %}
{% if docker_openshift_kube_state_metrics_image is defined %}
      openshift_kube_state_metrics_image: "{{ docker_openshift_kube_state_metrics_image }}"
{% endif %}
{% if docker_openshift_kube_state_metrics_tag is defined %}
      openshift_kube_state_metrics_tag: "{{ docker_openshift_kube_state_metrics_tag }}"
{% endif %}
{% if docker_openshift_grafana_namespace is defined %}
      openshift_grafana_namespace: "{{ docker_openshift_grafana_namespace }}"
{% endif %}
{% if docker_openshift_grafana_tag is defined %}
      openshift_grafana_tag: "{{ docker_openshift_grafana_tag }}"
{% endif %}
