#!/usr/bin/env bash

### --start_docs

## Install the required packages for novajoin/TLS-everywhere
## =========================================================

## * Install python-novajoin
## ::

sudo {{ ansible_pkg_mgr }} install -y python-novajoin

### --stop_docs
