#!/bin/bash

set -eux

### --start_docs
## Prepare the undercloud for deploying the containerized compute node
## ===================================================================

## .. note:: In progress documentation is available at https://github.com/dprince/undercloud_containers/blob/master/doit.sh
## ::

## * get build id
## ::
{% if get_build_command is defined %}
BUILD_ID={{ get_build_command }}
{% else %}
BUILD_ID={{ undercloud_docker_image_tag }}
{% endif %}

## * Generate {{ working_dir }}/undercloud-containers-default-parameters.yaml
## ::

{% if release in ['pike', 'queens'] -%}
{%- set env_files_path='services-docker' -%}
{%- else -%}
{%- set env_files_path='services' -%}
{%- endif %}

openstack overcloud container image prepare \
    --output-env-file {{ working_dir }}/undercloud-containers-default-parameters.yaml \
    --template-file /usr/share/openstack-tripleo-common/container-images/overcloud_containers.yaml.j2 \
{% if undercloud_enable_ui|bool %}
-e {{overcloud_templates_path}}/environments/{{env_files_path}}/tripleo-ui.yaml \
{% endif %}
{% if undercloud_enable_mistral|bool %}
    -e {{overcloud_templates_path}}/environments/{{env_files_path}}/mistral.yaml \
{% endif %}
{% if undercloud_enable_tempest|bool %}
    -e {{overcloud_templates_path}}/environments/services-docker/tempest.yaml \
{% endif %}
{% if undercloud_enable_ironic|bool %}
    -e {{overcloud_templates_path}}/environments/{{env_files_path}}/ironic.yaml \
{% endif %}
{% if undercloud_enable_ironic_inspector|bool %}
    -e /usr/share/openstack-tripleo-heat-templates/environments/{{env_files_path}}/ironic-inspector.yaml \
{% endif %}
{% if undercloud_generate_service_certificate is defined %}
    -e /usr/share/openstack-tripleo-heat-templates/environments/{{env_files_path}}/undercloud-haproxy.yaml \
    -e /usr/share/openstack-tripleo-heat-templates/environments/{{env_files_path}}/undercloud-keepalived.yaml \
{% endif %}
{% if undercloud_enable_zaqar|bool %}
    -e {{overcloud_templates_path}}/environments/{{env_files_path}}/zaqar.yaml \
{% endif %}
{% if undercloud_enable_telemetry|bool %}
    -e {{overcloud_templates_path}}/environments/{{env_files_path}}/undercloud-gnocchi.yaml \
    -e {{overcloud_templates_path}}/environments/{{env_files_path}}/undercloud-aodh.yaml \
    -e {{overcloud_templates_path}}/environments/{{env_files_path}}/undercloud-panko.yaml \
    -e {{overcloud_templates_path}}/environments/{{env_files_path}}/undercloud-ceilometer.yaml \
{% endif %}
{% if undercloud_extra_services_args %}
    {{ undercloud_extra_services_args }} \
{% endif %}
    -r {{undercloud_roles_data}} \
    --namespace {{ undercloud_docker_registry_host }}{% if undercloud_docker_registry_port is defined %}:{{ undercloud_docker_registry_port }}{% endif%}/{{ undercloud_docker_registry_namespace }} \
    --tag $BUILD_ID

echo "============================="
echo "Containers default parameters:"
cat {{ working_dir }}/undercloud-containers-default-parameters.yaml
echo "============================="


### --stop_docs
