#!/bin/bash

set -eux

### --start_docs
## Deploying the undercloud
## ========================
## ::

## * Export the required environment variables.
## ::

{% for var in (undercloud_env_vars|default([])) %}
export {{ var }}
{% endfor %}

## * Update requested packages.
## ::

{% if undercloud_update_packages | default(false) %}
sudo yum update -y {{ undercloud_update_packages }}
{% endif %}

# TODO: remove this once we land patch to install them via RPM
sudo yum install -y \
    openstack-heat-api \
    openstack-heat-engine \
    openstack-heat-monolith \
    openstack-heat-agents \
    python-ipaddr \
    python-tripleoclient \
    openvswitch \
    puppet-tripleo

## * Start the required services.
## ::

sudo systemctl start openvswitch

## * Update the puppet modules or install custom modules.
##   NOTE: breaks installed packages, is a pure hack in for dev envs only!
## ::

# Amend "foo/bar" and uncomment as needed:
#puppet module install foo/bar || puppet module upgrade foo/bar

#MODULE_PATH="{{ working_dir }}/.puppet/code/modules"
#rm -rf "${MODULE_PATH}/bar"
#mkdir -p "${MODULE_PATH}"
#cd "${MODULE_PATH}"
#git clone -b dev https://github.com/foo/puppet-bar bar

## * get build id
## ::
{% if get_build_command is defined: %}
BUILD_ID={{ get_build_command }}
{% else %}
BUILD_ID={{ undercloud_docker_image_tag }}
{% endif %}

# Copy installed/cloned modules and make a symlink
#sudo rsync -avxH "${MODULE_PATH}" /usr/share/openstack-puppet/
sudo mkdir -p /etc/puppet/modules/
sudo ln -f -s /usr/share/openstack-puppet/modules/* /etc/puppet/modules/

## * Configure the undercloud containers default parameters
## ::
{% if containerized_undercloud|bool %}
openstack overcloud container image prepare \
    --env-file {{ working_dir }}/undercloud-containers-default-parameters.yaml \
    {{ undercloud_extra_services_args }} \
    -r {{undercloud_roles_data}} \
    --namespace {{ undercloud_docker_registry_host }}{% if undercloud_docker_registry_port is defined %}:{{ undercloud_docker_registry_port }}{% endif%}/{{ undercloud_docker_registry_namespace }} \
    --tag $BUILD_ID
{% endif %}

echo "============================="
echo "Undercloud containers default parameters:"
cat {{ working_dir }}/undercloud-containers-default-parameters.yaml
echo "============================="

## * Set the local ip used for the undercloud install
## ::

undercloud_local_ip={{ hostvars['undercloud'].undercloud_ip }}

## * Deploy the undercloud
## ::

# TODO(bogdando) add '-r {{undercloud_roles_data}}' once the client
# starts supporting 'openstack undercloud deploy -r' option.

sudo openstack undercloud deploy \
    --heat-native \
    --templates={{overcloud_templates_path}} \
    --local-ip=$undercloud_local_ip \
{% if undercloud_cloud_domain is defined %}
    --local-domain={{ undercloud_cloud_domain }} \
{% endif %}
    -e {{ working_dir }}/undercloud-parameter-defaults.yaml \
{% if containerized_undercloud|bool %}
    {{ undercloud_extra_services_args }} \
    -e {{ working_dir }}/undercloud-containers-default-parameters.yaml \
{% endif %}
    {{ undercloud_extra_args }} \
    -e {{ working_dir }}/hieradata-overrides-t-h-t-undercloud.yaml

## * Copy the Openstack credentials file to the non root user.
## ::

sudo cp /root/stackrc {{ working_dir }}/stackrc
sudo chown {{ undercloud_user }}:{{ undercloud_user }} {{ working_dir }}/stackrc

### --stop_docs

