#!/bin/bash

set -eux

### --start_docs
## Deploying the undercloud
## =========================
## ::

## * Export the required environment variables.
## ::

{% for var in (undercloud_env_vars|default([])) %}
export {{ var }}
{% endfor %}


## * Create the parameters for the deployment.
## ::

cat > {{ working_dir }}/custom_undercloud_deploy.yaml << EOF_CAT
# custom undercloud deployment parameters from heat
# NOTE: many of these live in t-h-t in:
# extraconfig/post_deploy/undercloud_post.yaml

resource_registry:
  OS::TripleO::Undercloud::Net::SoftwareConfig: {{overcloud_templates_path}}/net-config-noop.yaml

parameter_defaults:
  UndercloudNetworkCidr: {{undercloud_network_cidr}}
  NeutronServicePlugins: ""
EOF_CAT

## * Install the prerequisite rpms.
## ::

sudo yum install -y \
    openstack-heat-api \
    openstack-heat-engine \
    openstack-heat-monolith \
    python-heat-agent \
    python-heat-agent-apply-config \
    python-heat-agent-hiera \
    python-heat-agent-puppet \
    python-heat-agent-docker-cmd \
    python-heat-agent-json-file \
    python-ipaddr \
    python-tripleoclient \
    docker \
    openvswitch \
    openstack-puppet-modules \
    openstack-kolla

## * Start the required services.
## ::

sudo systemctl start openvswitch
sudo systemctl start docker #FIXME: do these in the installer?

## * Update the puppet modules.
## ::

sudo mkdir -p /etc/puppet/modules/
sudo ln -f -s /usr/share/openstack-puppet/modules/* /etc/puppet/modules/

## * Set the local ip used for the undercloud install
## ::

undercloud_local_ip={{ hostvars['undercloud'].undercloud_ip }}

## * Deploy the undercloud
## ::

sudo openstack undercloud deploy \
    --templates={{overcloud_templates_path}} \
    --local-ip=$undercloud_local_ip \
    --heat-native \
    -e /home/stack/custom_undercloud_deploy.yaml \
{% if containerized_undercloud|bool %}
    -e {{overcloud_templates_path}}/environments/services-docker/ironic.yaml \
    -e {{overcloud_templates_path}}/environments/services-docker/mistral.yaml \
    -e {{overcloud_templates_path}}/environments/services-docker/zaqar.yaml \
    -e {{overcloud_templates_path}}/environments/docker.yaml \
    -e {{overcloud_templates_path}}/environments/mongodb-nojournal.yaml \
{% endif %}
    -e {{ working_dir }}/hieradata-overrides-t-h-t-undercloud.yaml

## * Copy the Openstack credentials file to the non root user.
## ::

sudo cp /root/stackrc {{ working_dir }}/stackrc
sudo chown {{ undercloud_user }}:{{ undercloud_user }} {{ working_dir }}/stackrc

### --stop_docs

