#!/bin/bash

set -eux

### --start_docs
## Installing the undercloud
## =========================
## ::

{% for var in (undercloud_env_vars|default([])) %}
export {{ var }}
{% endfor %}

{{ undercloud_install_cmd }} {{ undercloud_install_cli_options }}

### --stop_docs
