---
# Use this as a custom_env_file in the undercloud.conf in order to
# override the MasqueradeNetworks parameter.
# This replaces the old (and soon deprecated) tripleo::masquerade_networks::masquerade_networks
# hieradata override.
{% if ctlplane_masquerade|default(false) %}
# Override masquerading, OVB need's to masquerade the External (10.0.0.0/24) net as well.
parameter_defaults:
  MasqueradeNetworks:
{% if overcloud_ipv6|bool %}
    '{{ undercloud_network_cidr }}':
      - '{{ undercloud_network_cidr }}'
    '{{ undercloud_external_network_cidr_ipv4 }}':
      - '{{ undercloud_external_network_cidr_ipv4 }}'
{% else %}
    '{{ undercloud_network_cidr }}':
      - '{{ undercloud_network_cidr }}'
    '{{ undercloud_external_network_cidr }}':
      - '{{ undercloud_external_network_cidr}}'
{% endif %}
{% endif %}
