#!/bin/bash

set -eux

### --start_docs
## --------------------------------------------------
## Checkout custom tripleo heat templates
## --------------------------------------------------

## ########################
## Prepare Your Environment
## ########################

{% if overcloud_templates_repo is defined and overcloud_templates_path is defined %}
## * Clone the t-h-t templates if needed.
## ::

rm -rf {{ overcloud_templates_path }}
git clone {% if overcloud_templates_branch is defined %}-b {{ overcloud_templates_branch }} \
    --single-branch{% endif %} {{ overcloud_templates_repo }} {{ overcloud_templates_path }}

{% if overcloud_templates_refspec is defined %}
## * Checkout an open t-h-t review if specified
##    (this will stomp on the overcloud_templates_branch, so only one should be used).
## ::

pushd {{overcloud_templates_path}}
git fetch {{ overcloud_templates_repo }} {{ overcloud_templates_refspec }} && git checkout FETCH_HEAD
popd
{% endif %}

{% if deploy_composable_scenario|bool %}
## * If desired composable scenario isn't present in the checked-out
##   code, but is present in RPM, copy the scenario from RPM location.
## ::
if [ ! -e "{{ overcloud_templates_path }}/ci/environments/{{ composable_scenario }}" \
    -a -e "/usr/share/openstack-tripleo-heat-templates/ci/environments/{{ composable_scenario }}" ]; then
    cp "/usr/share/openstack-tripleo-heat-templates/ci/environments/{{ composable_scenario }}" \
        "{{ overcloud_templates_path }}/ci/environments/{{ composable_scenario }}"
fi
{% endif %}

{% endif %}

### --stop_docs
