---

- name: "Check hypervisors available"
  when:
    - hypervisor_wait | bool
  shell: >-
    source {{ working_dir }}/stackrc && \
    openstack hypervisor stats show -c count -f value
  register: osp_hypervisor_status
  until: osp_hypervisor_status.stdout | int > 0
  retries: 100
  delay: 10

- name: "Provision overcloud network"
  when:
    - network_provision | bool
  collections:
    - tripleo.operator
  include_role:
    name: tripleo_overcloud_network_provision
  vars:
    tripleo_overcloud_network_provision_debug: true
    tripleo_overcloud_network_provision_output_file: "{{ working_dir }}/overcloud-networks-deployed.yaml"
    tripleo_overcloud_network_provision_deployment_file: "{{ overcloud_templates_path }}/ci/network_data.yaml"
    tripleo_overcloud_network_provision_rc_file: "{{ working_dir }}/stackrc"

- name: Deploy the overcloud
  shell: >
    set -o pipefail &&
    {{ working_dir }}/{{ stack_name }}-deploy.sh 2>&1 {{ timestamper_cmd }} > {{ deploy_log }}
  register: deploy_script_result
  ignore_errors: true
  when: step_deploy_overcloud|bool

- name: Export actual used deploy args for persistence to other plays
  set_fact:
    # deploy_args end with a newline, remove to make deploy_args_used easier to use
    deploy_args_used: "{{ deploy_args | replace('\n', ' ') }}"
    cacheable: true
