{#
This takes advantage of the fact that valid JSON is also
valid YAML.  The default to_nice_yaml filter doesn't quote strings,
which can cause unexpected implicit type conversion when the
resulting YAML is consumed, whereas with JSON all strings are quoted.
#}
{% if minion_resource_registry_args %}
{% set minion_resource_registry = {'resource_registry': minion_resource_registry_args} %}
{% else %}
{% set minion_resource_registry = {} %}
{% endif %}
{% set minion_parameter_defaults = {'parameter_defaults': minion_network_environment_args} %}
{{ minion_parameter_defaults|combine(minion_resource_registry, recursive=True)|to_nice_json }}
