#!/bin/bash

set -eux

### --start_docs
## Installing the undercloud minion
## ================================
## ::

{% for var in (minion_env_vars|default([])) %}
export {{ var }}
{% endfor %}

{{ minion_install_cmd }} {{ minion_install_cli_options }}

### --stop_docs
