sudo ansible-playbook -i /usr/share/ansible/tripleo-inventory \
    -e tripleo_iscsid_image={{ tripleo_iscsid_image }} \
    -e tripleo_logrotate_crond_image={{ tripleo_logrotate_crond_image }} \
    -e tripleo_nova_compute_container_image={{ tripleo_nova_compute_container_image }} \
    -e tripleo_nova_libvirt_container_image={{ tripleo_nova_libvirt_container_image }} \
    -e tripleo_ovn_controller_image={{ tripleo_ovn_controller_image }} \
    -e tripleo_selinux_mode={{ tripleo_selinux_mode }} \
    -e neutron_public_interface_name={{ neutron_public_interface_name }} \
    -e tripleo_network_config_template={{ tripleo_network_config_template }} \
    -e '{ctlplane_dns_nameservers: {{ ctlplane_dns_nameservers }}}' \
    -e '{tripleo_hosts_entries_overcloud_hosts_entries: {{ tripleo_hosts_entries_overcloud_hosts_entries|to_json }}}' \
    {% if not copy_inventory | bool %}
    -e '{dns_search_domains: {{ dns_search_domains }}}' \
    -e '{tripleo_ovn_dbs: {{ tripleo_ovn_dbs }}}' \
    {% else %}
    -e ctlplane_ip={{ ctlplane_ip }} \
    {% endif %}
    /usr/share/ansible/tripleo-playbooks/deploy-overcloud-compute.yml
