#
# configure-tempest
#

source {{ working_dir }}/overcloudrc

# clean up network if it exists from previous run
neutron net-delete {{ public_net_name }} > /dev/null 2>&1 || true

neutron net-create {{ public_net_name }} --router:external=True \
    --provider:network_type {{ public_network_type }} \
    {% if public_segmentation_id != '' %}
    --provider:segmentation_id {{ public_segmentation_id }} \
{% endif %}
    --provider:physical_network {{ public_physical_network }}

public_net_id=$(neutron net-show {{ public_net_name }} -f value -c id)

neutron subnet-create --name ext-subnet \
    --allocation-pool \
    start={{ floating_ip_start }},end={{ floating_ip_end }} \
    --disable-dhcp \
    --gateway {{ external_network_gateway }} \
    {{ public_net_name }} {{ floating_ip_cidr }}

rm -rf {{ working_dir }}/tempest
mkdir {{ working_dir }}/tempest
cd {{ working_dir }}/tempest

/usr/share/openstack-tempest-*/tools/configure-tempest-directory

tools/config_tempest.py --out etc/tempest.conf --network-id $public_net_id --deployer-input ~/tempest-deployer-input.conf --debug --create \
identity.uri $OS_AUTH_URL \
identity.admin_password $OS_PASSWORD \
network.tenant_network_cidr {{ tenant_network_cidr }} \
object-storage.operator_role swiftoperator \
orchestration.stack_owner_role heat_stack_owner