#! /bin/bash

### --start_docs

## Delete the original {{ node_to_scale }} node
## ============================================

## * Source in the undercloud credentials
## ::

source ./stackrc

## * Delete the {{ node_to_scale }} node from the original deployment
## ::

openstack overcloud node delete --debug --stack {{ overcloud_id.stdout }} --templates {{ scale_extra_configs }}  {{ node_id_to_delete.stdout }}

### ---stop_docs
