# OpenStack version
export OPENSTACK_VERSION={{ release }}
# SSH related commands
export SSH="ssh -q -o StrictHostKeyChecking=no"
export SCP="scp -q -o StrictHostKeyChecking=no"
# Floating network details
export FLOATING_SUBNET="{{ floating_ip_cidr }}"
export FLOATING_RANGE_START="{{ public_net_pool_start }}"
export FLOATING_RANGE_END="{{ public_net_pool_end }}"
export FLOATING_GW="{{ public_net_gateway }}"
