Welcome to |project| Documentation:
===================================

--------
Contents
--------

.. toctree::
   :maxdepth: 2
   :numbered:

   Requirements and Primer <index>
{% for doc in artcl_create_docs_payload.table_of_contents %}
   {{ doc }}
{% endfor %}
