#!/bin/bash
# Prepare overcloud images

set -eux

# Retrieving images
wget "{{ overcloud_image_url }}"
wget "{{ ipa_image_url }}"
for i in *.tar; do
tar xvfp $i
done

# Checking libvirtd"
sudo systemctl restart libvirtd

# Changing root password of the overcloud
virt-customize -a overcloud-full.qcow2 --root-password password:redhat
