# Run tempest.

{% if tempest_format == "venv" %}./tools/with_venv.sh {% endif %}./tools/run-tests.sh {{ test_regex }} {% if skip_file_src != '' %}--skip-file {{ working_dir }}/{{ skip_file }}{% endif %}
