#!/bin/bash

set -eux

### --start_docs
## Prepare repos and packages on the undercloud
## ============================================

## Prepare repos and packages
## --------------------------

## * Install base and useful packages.
## ::

yum install -y ntp ntpdate vim tmux openssl wget bind-utils net-tools git lftp libguestfs-tools sos

## * Fix time issues with ntp.
## ::

yum erase -y chrony
rm -f /etc/chrony*
sed -i s'/^server.*//' /etc/ntp.conf
sh -c 'echo "server clock.redhat.com iburst" >> /etc/ntp.conf'
sh -c 'echo clock.redhat.com > /etc/ntp/step-tickers'
sh -c 'echo "SYNC_HWCLOCK=yes" >> /etc/sysconfig/ntpdate'
ntpdate clock.redhat.com
systemctl enable ntpdate
systemctl enable ntpd
systemctl start ntpd

## * Configure repos.
## ::

#curl -o /etc/yum.repos.d/delorean.repo http://trunk.rdoproject.org/centos7-{{ release }}/current-passed-ci/delorean.repo
curl -o /etc/yum.repos.d/delorean.repo http://buildlogs.centos.org/centos/7/cloud/x86_64/rdo-trunk-{{ release }}-tested/delorean.repo
curl -o /etc/yum.repos.d/delorean-deps.repo http://trunk.rdoproject.org/centos7-{{ release }}/delorean-deps.repo

{% if release == 'liberty' %}
# (trown) Install ironic-python-agent from mitaka delorean for LIO support.
# We either need to do that or include tgt from EPEL, and upstream
# ironic-python-agent project does not actually even gate the stable branch.
# I am working on getting them to remove the stable branch, which will give us
# LIO support in liberty delorean.
yum install -y http://trunk.rdoproject.org/centos7/55/17/5517b8e9aea3ded1052209384b4194d2caa97541_673a78a2/openstack-ironic-python-agent-1.1.1-dev6.el7.centos.noarch.rpm http://trunk.rdoproject.org/centos7/55/17/5517b8e9aea3ded1052209384b4194d2caa97541_673a78a2/python2-ironic-python-agent-1.1.1-dev6.el7.centos.noarch.rpm
{% endif %}

## * Install TripleO packages.
## ::

yum install -y yum-plugin-priorities
yum install -y python-tripleoclient

### --stop_docs
