#!/bin/bash
# Prepare undercloud repos

set -eux

# Adding static hostname into /etc/hosts
sudo sh -c 'echo "{{ registered_undercloud_ip.stdout }} $(hostname -f)" >> /etc/hosts'

# SELinux
sudo setenforce 0
sudo sed -i -e 's/^SELINUX.*/SELINUX=permissive/g' /etc/sysconfig/selinux

# Firewall
sudo systemctl disable firewalld

# Packages
sudo yum install -y ntp ntpdate vim tmux openssl wget bind-utils net-tools git lftp libguestfs-tools sos

# Time
sudo yum erase -y chrony
sudo rm -f /etc/chrony*
sudo sed -i s'/^server.*//' /etc/ntp.conf
sudo sh -c 'echo "server clock.redhat.com iburst" >> /etc/ntp.conf'
sudo sh -c 'echo clock.redhat.com > /etc/ntp/step-tickers'
sudo sh -c 'echo "SYNC_HWCLOCK=yes" >> /etc/sysconfig/ntpdate'
sudo systemctl enable ntpdate
sudo systemctl enable ntpd

# Repos
#sudo curl -o /etc/yum.repos.d/delorean.repo http://trunk.rdoproject.org/centos7-{{ release }}/current-passed-ci/delorean.repo
sudo curl -o /etc/yum.repos.d/delorean.repo http://buildlogs.centos.org/centos/7/cloud/x86_64/rdo-trunk-{{ release }}-tested/delorean.repo
sudo curl -o /etc/yum.repos.d/delorean-deps.repo http://trunk.rdoproject.org/centos7-{{ release }}/delorean-deps.repo

{% if release == 'liberty' %}
# (trown) Install ironic-python-agent from mitaka delorean for LIO support.
# We either need to do that or include tgt from EPEL, and upstream
# ironic-python-agent project does not actually even gate the stable branch.
# I am working on getting them to remove the stable branch, which will give us
# LIO support in liberty delorean.
sudo yum install -y http://trunk.rdoproject.org/centos7/55/17/5517b8e9aea3ded1052209384b4194d2caa97541_673a78a2/openstack-ironic-python-agent-1.1.1-dev6.el7.centos.noarch.rpm http://trunk.rdoproject.org/centos7/55/17/5517b8e9aea3ded1052209384b4194d2caa97541_673a78a2/python2-ironic-python-agent-1.1.1-dev6.el7.centos.noarch.rpm
{% endif %}

sudo yum update -y

# Tripleo packages
sudo yum install -y yum-plugin-priorities
sudo yum install -y python-tripleoclient
