#!/bin/bash
source {{ upgrade_working_dir }}/stackrc
echo "execute script delivery"
openstack overcloud deploy --templates {{ tht_dir }} \
    -e tripleo-heat-templates/overcloud-resource-registry-puppet.yaml \
{% if network_isolation == true %}
    -e {{ tht_dir }}/environments/network-isolation.yaml \
    -e {{ tht_dir }}/environments/net-single-nic-with-vlans.yaml \
    -e ~/network-environment.yaml \
{% endif %}
    -e {{ tht_dir }}/environments/puppet-pacemaker.yaml \
{% for item in upgrade_custom_templates_script_delivery %}
    -e {{ item }} \
{% endfor %}
    -e {{ tht_dir }}/environments/major-upgrade-pacemaker-init.yaml

if [[ $? == 0 ]]; then
echo "execute major upgrade controller"
openstack overcloud deploy --templates {{ tht_dir }} \
    -e tripleo-heat-templates/overcloud-resource-registry-puppet.yaml \
{% if network_isolation == true %}
    -e {{ tht_dir }}/environments/network-isolation.yaml \
    -e {{ tht_dir }}/environments/net-single-nic-with-vlans.yaml \
    -e ~/network-environment.yaml \
{% endif %}
    -e {{ tht_dir }}/environments/puppet-pacemaker.yaml \
{% for item in upgrade_custom_templates_controller %}
    -e {{ item }} \
{% endfor %}
    -e {{ tht_dir }}/environments/major-upgrade-pacemaker.yaml
fi

if [[ $? == 0 ]]; then
echo "get compute uuid and update compute"
compute_uuid=`nova list | grep compute  | awk '{ print $2; }'`
{{ upgrade_non_controller_script }} --upgrade $compute_uuid

echo "get ceph uuid and update ceph"
ceph_uuid=`nova list | grep overcloud-cephstorage-0  | awk '{ print $2; }'`
{{ upgrade_non_controller_script }} --upgrade $ceph_uuid
fi

if [[ $? == 0 ]]; then
echo "execute converge"
openstack overcloud deploy --templates {{ tht_dir }} \
    -e tripleo-heat-templates/overcloud-resource-registry-puppet.yaml \
{% if network_isolation == true %}
    -e {{ tht_dir }}/environments/network-isolation.yaml \
    -e {{ tht_dir }}/environments/net-single-nic-with-vlans.yaml \
    -e ~/network-environment.yaml \
{% endif %}
    -e {{ tht_dir }}/environments/puppet-pacemaker.yaml \
{% for item in upgrade_custom_templates_converge %}
    -e {{ item }} \
{% endfor %}
    -e {{ tht_dir }}/environments/major-upgrade-pacemaker-converge.yaml
fi

if [[ $? == 0 ]]; then
echo "check upgrade status"
heat stack-list | grep -i COMPLETE
fi
exit $?
