#!/bin/bash

set -eux

### --start_docs
## Prepare the undercloud for deploying the containerized compute node
## ===================================================================

## .. note:: In progress documentation is available at https://etherpad.openstack.org/p/tripleo-containers-work
## ::

## Prepare Your Environment
## ------------------------

## * Source in the undercloud credentials.
## ::

source {{ working_dir }}/stackrc
cd {{ working_dir }}

## * Set the DNS Server for neutron
## ::

subnet_uuid=`neutron subnet-list | grep 192.168.24 | awk '{ print $2 }'`
echo $subnet_uuid
neutron subnet-update $subnet_uuid --dns-nameserver {{ containers_compute_dns_server }}
neutron subnet-show $subnet_uuid


## * Populate the docker registery
## ::

sudo python {{ working_dir }}/upload_images_to_local_registry.py

## * Configure the environments/docker.yaml, this is done automatically.
## ::

echo "============================="
echo "Containers default parameters:"
cat {{ working_dir }}/containers-default-parameters.yaml
echo "============================="

## * Get the journal logs for docker
## ::

sudo journalctl -u docker > docker_journalctl.log

### --stop_docs
