# Upload images to local registry
import time

from socket import error as SocketError
from tripleo_common.image.image_uploader import ImageUploadManager

mgr = ImageUploadManager(['{{ working_dir }}/tripleo-common/contrib/overcloud_containers.yaml'])

for i in range(0,3):
  try:
    mgr.upload()
    print("The upload was successfull")

  # this seems to break in various ways
  except Exception as e:
    print(str(e.args) + " retry attempt: " + str(i+1))
    time.sleep(20)
    continue
  break

