# generate the default container prepare statement
openstack tripleo container image prepare default \
  --output-env-file {{ working_dir }}/containers-prepare-parameters.yaml {{ standalone_container_prep_options }}
