sudo openstack tripleo deploy \
  --templates \
  --local-ip={{ standalone_ip }}/{{ standalone_network_prefix }} \
  -e {{ overcloud_templates_path }}/environments/standalone/standalone-tripleo.yaml \
  -r {{ overcloud_templates_path }}/roles/{{ standalone_role }} \
  -e "{{ working_dir }}/standalone_parameters.yaml" \
  --output-dir {{ working_dir }} \
  --standalone
