NAME={{ virthost_provisioning_interface }}
IPADDR={{ virthost_provisioning_ip }}
NETMASK={{ virthost_provisioning_netmask }}
NM_CONTROLLED=no
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
ONBOOT=yes
HWADDR={{ virthost_provisioning_hwaddr }}
PEERDNS=yes
PEERROUTES=yes
IPV6_PEERDNS=yes
IPV6_PEERROUTES=yes
