#!/usr/bin/env bash

### --start_docs

## Install the required packages on the undercloud
## ===============================================

## * Install python-tripleoclient
## ::

#sudo yum install -y python-tripleoclient ceph-ansible
sudo yum install -y {{ undercloud_rpm_dependencies }}

### --stop_docs
