#!/usr/bin/env bash
set -eux

### --start_docs

## Set up vxlan networking on subnodes listed in /etc/nodepool/sub_nodes_private
## =============================================================================

## * Create the WORKSPACE variable if it didn't exist already
export WORKSPACE=${WORKSPACE:-$HOME}
export SSH_ARGS="-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=Verbose -o PasswordAuthentication=no -o ConnectionAttempts=32 -v -t -l {{ ansible_user }}"

while read sub; do

## * Create the expected directories and symlinks
## ::

    ssh $SSH_ARGS $sub mkdir -p $WORKSPACE/tripleo
    ssh $SSH_ARGS $sub ln -sf $WORKSPACE/tripleo $WORKSPACE/tripleo/new

## * Clone the appropriate repositories in the expected locations
## ::

    ssh $SSH_ARGS $sub git clone https://git.openstack.org/openstack-infra/tripleo-ci $WORKSPACE/tripleo/tripleo-ci
    ssh $SSH_ARGS $sub git clone https://git.openstack.org/openstack-dev/devstack $WORKSPACE/tripleo/devstack
    ssh $SSH_ARGS $sub git clone https://git.openstack.org/openstack-infra/devstack-gate $WORKSPACE/tripleo/devstack-gate

done < /etc/nodepool/sub_nodes_private

### --stop_docs
