working_dir: /home/stack
repo_setup_script: repo_setup.sh.j2
repo_setup_log: "{{ working_dir }}/repo_setup.log"
repo_run_live: true
libvirt_uri: qemu:///session
# Releases shortcuts
stable:
  - newton
  - mitaka
  - liberty
repo_cmd_before: |
  yum install -y yum-plugin-priorities;
  yum clean all;
  rm -rf /etc/yum.repos.d/delorean*;
  rm -rf /etc/yum.repos.d/*.rpmsave;
repo_cmd_after: |
  yum repolist;
  yum update -y

# Repositories definitions
repos:

  - type: file
    filename: delorean.repo
    down_url: https://trunk.rdoproject.org/centos7-{{ release }}/current/delorean.repo

  - type: file
    filename: delorean-deps.repo
    down_url: http://trunk.rdoproject.org/centos7-{{ release }}/delorean-deps.repo
