#!/bin/bash

set -eux
# Undercloud upgrade script.
{% if target_upgrade_version in ['newton', 'ocata'] %}
# These steps have been added in Pike as a pre-upgrade entry point
# in instack, so they will be executed in 'openstack undercloud upgrade':

sudo systemctl stop 'openstack-*'
sudo systemctl stop 'neutron-*'
sudo systemctl stop httpd

# update instack-undercloud and friends before running the upgrade
sudo yum -y update instack-undercloud openstack-puppet-modules openstack-tripleo-common

{% endif %}

sudo yum -y update python-tripleoclient

echo "Upgrade the undercloud"
openstack undercloud upgrade
