#!/bin/bash

set -eux
# Undercloud upgrade script.
# Those steps is for the major mariadb upgrade in mitaka
sudo systemctl stop 'openstack-*'
sudo systemctl stop 'neutron-*'
sudo systemctl stop httpd

#if you are going to do a backwards compatibility install save the old tht dir
# cp -r /usr/share/openstack-tripleo-heat-templates ~/tht

# update instack-undercloud and friends before running the upgrade
sudo yum -y update instack-undercloud openstack-puppet-modules openstack-tripleo-common python-tripleoclient

echo "Upgrade the undercloud"
openstack undercloud upgrade
