<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1; url={{ artcl_full_artifact_url }}">
        <script type="text/javascript">
            window.location.href = "{{ artcl_full_artifact_url }}"
        </script>
        <title>Redirection to logs</title>
    </head>
    <body>
        If you are not redirected automatically, follow the <a href='{{ artcl_full_artifact_url }}'>link to the logs</a>.
    </body>
</html>
