echo "+ ip -o link" > {{ odl_extra_info_log }};
ip -o link &>> {{ odl_extra_info_log }};
echo "+ ip -o addr" >> {{ odl_extra_info_log }};
ip -o addr &>> {{ odl_extra_info_log }};
echo "+ arp -an" >> {{ odl_extra_info_log }};
arp -an &>> {{ odl_extra_info_log }};
echo "+ ip netns list" >> {{ odl_extra_info_log }};
ip netns list &>> {{ odl_extra_info_log }};
echo "+ ovs-ofctl -OOpenFlow13 show br-int" >> {{ odl_extra_info_log }};
ovs-ofctl -OOpenFlow13 show br-int &>> {{ odl_extra_info_log }};
echo "+ ovs-ofctl -OOpenFlow13 dump-flows br-int" >> {{ odl_extra_info_log }};
ovs-ofctl -OOpenFlow13 dump-flows br-int &>> {{ odl_extra_info_log }};
echo "+ ovs-ofctl -OOpenFlow13 dump-groups br-int" >> {{ odl_extra_info_log }};
ovs-ofctl -OOpenFlow13 dump-groups br-int &>> {{ odl_extra_info_log }};
echo "+ ovs-ofctl -OOpenFlow13 dump-group-stats br-int" >> {{ odl_extra_info_log }};
ovs-ofctl -OOpenFlow13 dump-group-stats br-int &>> {{ odl_extra_info_log }};
echo "+ ovs-vsctl list Open_vSwitch" >> {{ odl_extra_info_log }};
ovs-vsctl list Open_vSwitch &>> {{ odl_extra_info_log }};
echo "+ ovs-vsctl show" >> {{ odl_extra_info_log }};
ovs-vsctl show &>> {{ odl_extra_info_log }};
