---
# Add the virthost to the in-memory inventory.  The inventory is not
# written out to disk unless you call the `tripleo-inventory` role.
- name: Add the virthost to the inventory
  hosts: localhost
  tasks:
    - name: Add virthost
      add_host:
        name: "virthost"
        groups: "virthost"
        ansible_host: "{{ virthost }}"

- name: Create the OVB stack
  hosts: localhost
  roles:
    - {role: ovb-manage-stack, ovb_manage_stack_mode: 'create'}
