parameters:
  image: {{ image_id }}
  public_net_name: {{ public_net_name }}
  key_name: {{ key_name }}
  private_net_name: {{ private_net_name }}
  private_net_cidr: {{ private_net_cidr }}
  private_net_gateway: {{ private_net_gateway }}
  private_net_pool_start: {{ private_net_pool_start }}
  private_net_pool_end: {{ private_net_pool_end }}
  subnode_count: {{ subnode_count }}
  subnode_flavor: {{ subnode_flavor }}
